.interface {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60rem;
    height: 39rem;
    box-shadow: 2px 2px 15px #dadada;
}

.interface img {
    position: absolute;
    top: 1rem;
    left: 1rem;
}


.view {
    width: 60rem;
    height: 35rem;
    display: flex;
}


.sidebar {
    position: absolute;
    z-index: 1000;
    background: none;
    right: 0;
    height: 30rem;
    width: 5rem;
}

.sidebar #cavnas {
    background: green;
}




@media (max-width: 500px) { 
    body {
        margin: 0;
        overflow-x: hidden;
        overflow-y: hidden;
        position: fixed;
        overscroll-behavior: none;
    }

    .interface {
        margin: 0;
        height: 100%;
        width: 100%
    }

    .interface img {
        display: none;
    }
    
    .view {
        display: flex;
        flex-wrap: wrap;
        height: 98vh;
        width: 100%;
        /* background: #F9F9F9; */
    }
}