.gesture-input {
    width: 35rem;
    height: 35rem;
    z-index: 100;
}

@media (max-width: 500px) { 
    .gesture-input {
        position: fixed;
        position: absolute;
        width: 100vw;
        height: 100vw;
        top: 100vh; /* Fallback for browsers that do not support Custom Properties */
        top: calc(var(--vh, 1vh) * 100 - 100vw);
        overflow-y: hidden;
        overscroll-behavior: none;
        touch-action: none;
        background: #fdfdfd;
    }
 }